.container{
    display:flex;
   
    
    background-color:lightblue;
    height: 500px;
    color: white;
}

.r1{
    background-color: brown;
     
}

.r2{
    background-color: darkblue;
}

.r3{
    background-color: darkgreen;
}

.rect{
 width: 250px;
height: 150px;
}