.container{
    display: grid;
    color: white;
    background-color: rgba(0, 0, 0, 0.418);

    padding: 10px;

    /*grid-template-areas: "a2 a2 a2 a2 a2"
                         "a1 a1 a3 a3 a3"
                         "a1 a1 a4 a4 a4"
                         "a5 a5 a5 a5 a5"
                         "a6 a6 a6 a6 a6"*/
    grid-template: auto auto auto auto/ auto auto auto auto auto auto

}

.r1{
    background-color: rgba(255, 0, 0, 0.63);
}

.r2{
    background-color: rgba(0, 0, 255, 0.692)
}

.r3{
    background-color: green;
}

.r4{
    background-color: rgba(127, 255, 212, 0.61);
}

.r5{
    background-color: blueviolet;
}

.r6{
    background-color: chocolate;
}

.item1{
    grid-column-start:1 ;
    grid-column-end:3 ;
    grid-row-start: 2;
    grid-row-end:4;
}

.item2{
    grid-column-start:1 ;
    grid-column-end:7 ;
}

.item3{
    grid-column-end:span 4 ;
}

.item4{
    grid-column-start:4;
    grid-column-end:7 ;
}

.item5{
    grid-row-start:3;
    grid-column-start:3;
}

.item6{
    grid-column-end: span 6;
}