.container{
    display:flex;
    flex-direction:row;
    background-color:lightblue;
    height: 400px;
    color: white;
}

.r1{
    background-color: brown;
}

.r2{
    background-color: darkblue;
}

.r3{
    background-color: darkgreen;
}

.rect{
 width: 100px;
}