p::first-letter{
    color: rgba(0, 140, 255, 0.795);
    font-size: 5rem;
}
p::first-line{
    color: red;
}
li {
    /*margin-left: 250px;*/
    list-style:none;

    /*list-style-image: url(./imagens/letter.jpg);*/
}

li::before{
    content: "";
    display:inline-block;
    width: 40px;
    height: 40px;
    background-image: url(./imagens/letter.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

p::selection{
    background-color: blueviolet;
    color: brown;
}
