@keyframes changeColor {

    0%{background-color: darkred; width: 100px;}
    25%{background-color: darkblue}
    50%{background-color:darkviolet ; width: 400px;}
    100%{background-color: darkorange; width: 100px;}
}

/*@keyframes move {
    0% {left: 0px}
    100% {left: 300px}
}*/

body{
    background-color: rgb(12, 0, 0);
}

.box{
    position: relative;
    width:100px;
    height:100px;
    border-style: solid;


    animation-name: changeColor;
    animation-duration:3s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;

    animation: name duration timing-function delay iteration-count direction fill-mode;
}

.div1{
    animation-timing-function: linear;
}
.div2{
    animation-timing-function: ease;
}
.div3{
    animation-timing-function: ease-in;
}
.div4{
    animation-timing-function: ease-out;
}
.div4{
    animation-timing-function: ease-in-out;
}
