.btn{
    display: inline-block;
    padding: 15px;
    background-color: blueviolet;
    color: #f0f8ff;
    font-size: 30px;

    transition-property: background-color, padding;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
    transition-timing-function:ease-out;

     /*Tudo que colocar em Transition vai influenciar no que estiver dentro do transition-property:*/
}

.btn:hover{
    background-color:rgb(48, 6, 87);
    padding: 20px;
  
}